ol {
    font-size: 2em;
}

h1 {
    font-size: 4rem;
}
body {
    margin: 2% 25% 0 25%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
p {
    margin-top: 2%;
}
footer {
    margin-top: 5%;
    font-size: 1rem;
}
